<!DOCTYPE html>
{{ template "header" }}
{{ template "title" "Register" }}

<main>
	<h1>twidiscord</h1>
	<h2>Register your Discord account</h2>

	<p class="help">
		You can register your Discord account with twidiscord to receive
		an SMS message when you are mentioned on Discord.

		For information on how to get the Discord token, check out
		<a target="_blank" href="https://discordhelp.net/discord-token">this guide</a>.
	</p>

	<form method="post" action="/discord/register">
		<formset>
			<label for="user-number">Your Phone Number</label>
			<input type="tel" id="user-number" name="user-number" required>
		</formset>
		<formset>
			<label for="twilio-number">Twilio Phone Number</label>
			<input type="tel" id="twilio-number" name="twilio-number" required>
		</formset>
		<formset>
			<label for="discord-token">Discord Token</label>
			<input type="password" id="discord-token" name="discord-token" required>
		</formset>
		<button type="submit">Register</button>
	</form>
</main>
