<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<style>
dialog.error-dialog {
	font-size: 1.1rem;
	background-color: rgb(70, 32, 25);
}

dialog.error-dialog .error-dialog-content {
	max-width: 600px;
}

dialog.error-dialog pre {
	overflow-x: hidden;
	white-space: pre-wrap;
	background-color: transparent;
}
</style>
